extends ../layout/index

block content 
    div.py-10
        h1.text-center.text-4xl.my-10.font-extrabold.text-dark Bienes
            span.font-normal.text-secondary Raices
        h2.text-center.text-3xl.font-extrabold.text-secondary= page
        
        if errors 
            div(class="max-w-md mx-auto my-10")
                each error in errors 
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

        .mt-8.mx-auto.max-w-md
            .bg-neutral.py-8.px-4.shadow-xl.rounded-lg.bg-dark-200
                form(method="POST" action="/auth/register")
                    div
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="name") Nombre:
                        input#name.w-full.px-3.py-2.border.border-gray-300.rounded-sm.placeholder-gray-400(type="text" placeholder="ej. Francisco Gonzalez" name="name" value=user ? user.name : '')
                    br
                    div
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="email") Correo:
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-sm.placeholder-gray-400(placeholder="usuario@domain.com" name="email" type="email" value=user ? user.email : '')
                    br
                    div
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="password") Contraseña:
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-sm.placeholder-gray-400(placeholder="▪▪▪▪▪▪▪▪▪" name="password" type="password" required)
                    br
                    div
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold Confirm password:
                        input#recovery-password.w-full.px-3.py-2.border.border-gray-300.rounded-sm.placeholder-gray-400(placeholder="▪▪▪▪▪▪▪▪▪" name="repeat-password" type="password" required)
                    br
                    div
                        input#btn-register(type="submit", value="Registar", class="w-full bg-dark text-primary font-bold py-3 rounded-xl cursor-pointer hover:bg-accent")

                    br
                    div.flex.items-center.justify-between.pt-5
                        a.text-sm(class="text-secondary hover:underline decoration-rojoS mr-4 hover:text-accent" href="/auth/login") ¿Tienes una cuenta?, Inicia sesión
                        a.text-sm(class="text-secondary hover:underline decoration-rojoS hover:text-accent" href="/auth/passwordRecovery") ¿Olvidaste tu contraseña?, Recupérala

