extends ../layout/index

block content
    input(type="hidden" name="_csrf" value=csrfToken)
    div.flex.justify-center.items-center
        div.py-9   
            div.flex.items-center
                h1.text-center.text-4xl.my-10.font-extrabold.text-dark Bienes
                    span.font-normal.text-secondary Raices
                img(src="/assets/logo.png", alt="a", class="ml-5" width="75px" heigh="75px") 
    div 
        h2.text-center.text-3xl.font-extrabold.text-secondary= page

        p.text-xl.font-bold.text-center.my-10= msg
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br    
    footer.bg-dark.py-2.mt-10.mb-5
        .container.mx-auto.text-center.text-white
            p.text-sm
                | &copy; 2024 Bienes Raices. Todos los derechos reservados.
            div.mt-6
                a(class="text-white hover:text-accent mr-6" href="") Términos de uso
                a(class="text-white hover:text-accent" href="") Política de privacidad